<%- include('partials/user-header.ejs') %>
<div class="mb-5 d-flex justify-content-center align-items-center flex-column">
  <img src="img/bg/cartempty.png" alt="" style="height: 350px" />
  <h5 class="pb-3 text-center">
    Your cart is empty <br />Please add few products
  </h5>
  <!-- <a class="mb-5 btn btn-primary" href="/">Continue shopping</a> -->
  <a type="button" href="/products" class="butn-style3">Continue shopping<span></span></a>
</div>
<%- include('partials/user-footer.ejs') %>
