<%- include("partials/user-header.ejs") -%>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/bg-8.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Success!</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Success!</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- CHECKOUT COMPLETE
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                        <div class="common-block text-center">

                            <div class="inner-title">
                                <h3 class="mb-0">Thank you for your order!</h3>
                            </div>

                            <p class="lead mb-4">
                                <!-- Thank you for your payment. An automated payment receipt will be sent to your registered email. -->
                            </p>

                            <a href="/orders" class="butn-style2 wide m-1">Track your order</a>
                            <a href="/" class="butn-style2 wide m-1">Back to home</a>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        
        <%- include("partials/user-footer.ejs") -%>