 <!-- FOOTER
        ================================================== -->
        <footer class="pb-6 pt-6 pt-md-10 pt-lg-13 classic-footer">

            <div class="container">
                <div class="row mt-n1-9">

                    <div class="col-sm-6 col-lg-3 mt-1-9">
                        <img src="img/logos/logo-08.jpeg" class="footer-logo mb-1-9" alt="...">
                        <h4 class="text-primary h5">+91 8111872366</h4>
                        <span class="font-weight-600 d-block mb-1-6 mb-md-2-3">safvanambadath17@gmail.com</span>
                        <ul class="social-icon-style3 mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2 mt-1-9">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <li><a href="/orders">Order Tracking</a></li>
                            <!-- <li><a href="404-page.html">Error Page</a></li> -->
                            <li><a href="comingsoon.html">Comingsoon</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2 mt-1-9">
                        <h3 class="footer-title">About</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="blog-grid.html">Blog</a></li>
                            <li><a href="help-faq.html">Help / FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-2 mt-1-9">
                        <h3 class="footer-title">My Account</h3>
                        <ul class="list-style list-unstyled mb-0">
                            <!-- <li><a href="account-tickets.html">My Tickets</a></li> -->
                            <li><a href="/orders">Order List</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-lg-3 mt-1-9">
                        <div class="ps-xl-1-9">

                            <h3 class="footer-title">We Accept</h3>
                            <ul class="list-style-17">
                                <!-- <li><img src="img/content/payment-options/visa.png" alt="..."></li> -->
                                <!-- <li><img src="img/content/payment-options/mastercard.png" alt="..."></li> -->
                                <li><img src="img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="img/content/payment-options/cashondelivery.png" alt="..." style="height:25px;width:60px"></li>
                                <!-- <li><img src="img/content/payment-options/amex.png" alt="..."></li> -->
                                <!-- <li><img src="img/content/payment-options/discover.png" alt="..."></li> -->
                            </ul>
                            <p class="mb-0 mt-1-9 mt-lg-2-3 font-weight-600">&copy; <span class="current-year"></span> nnoolmart is Powered by <a href="https://safvanambadath.github.io/SafvanAmbadath-personal-website/" target="_blank">Safvan Web</a></p>

                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="js/core.min.js"></script>

     <!-- zoom js -->
     <script src="js/xzoom.js"></script>

     <!-- hammer js -->
     <script src="js/jquery.hammer.min.js"></script>
 
     <!-- setup js -->
     <script src="js/setup.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>
	
	<!-- all js include end -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function(){
var firstName = $('#firstName').text();
var lastName = $('#lastName').text();
var intials = $('#firstName').text().charAt(0) + $('#firstName').text().charAt(5);
var profileImage = $('#profileImage').text(intials);
});
       </script>

</body>



<!-- Mirrored from smartshop.websitelayout.net/home-shop-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jan 2023 20:37:08 GMT -->
</html>