

        </div>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <!-- <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div> -->
    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- ALL JS INCLUDE
    ================================================== -->

    <!-- jQuery -->
    <script src="admin/plugins/jquery/jquery.min.js"></script>

    <!-- popper -->
    <script src="admin/plugins/popper/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="admin/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="admin/plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="admin/plugins/switchery/switchery.min.js"></script>

    <!-- tagsinput -->
    <script src="admin/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- form elements -->
    <script src="admin/js/pages/form-elements.js"></script>

    <!-- theme core scripts -->
    <script src="admin/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js" defer></script>

      
    




    <!-- all js include end -->
</body>

</html>